body, html {
  background:white;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
body .container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.navbar {
  position: absolute;
  width: 100%;
  z-index: 3;
}